
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="d-grid gap-2">
    @Html.ActionLink("Collect Requests List", "CollectRequestList", "RestaurantDashboard", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
    @Html.ActionLink("Collect Food Item List", "CollectedFoodItemsList", "RestaurantDashboard", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
    @Html.ActionLink("Create Collected Request", "CreateCollectRequest", "RestaurantDashboard", new { area = "" }, new { @class = "btn btn-lg btn-primary" })
</div>

